---
import paso1 from "../assets/Entrega2/elegir idioma.png";
import paso2 from "../assets/Entrega2/elegir ubicacion.png";
import paso3 from "../assets/Entrega2/elegir teclado.png";
import paso4 from "../assets/Entrega2/nombre maquina.png";
import paso5 from "../assets/Entrega2/clave de su.png";
import paso6 from "../assets/Entrega2/usuario.png";
import paso7 from "../assets/Entrega2/contrasena usuario.png";
import paso8 from "../assets/Entrega2/elegir metodo particion.png";
import paso9 from "../assets/Entrega2/elegir disco.png";
import paso10 from "../assets/Entrega2/crear tabla de particiones.png";
import paso11 from "../assets/Entrega2/selecionar disco.png";
import paso12 from "../assets/Entrega2/crear particion.png";
import paso13 from "../assets/Entrega2/elegir tamaño.png";
import paso14 from "../assets/Entrega2/elegir como utilizar.png";
import paso15 from "../assets/Entrega2/particion swap.png";
import paso16 from "../assets/Entrega2/elegir tamaño home.png";
import paso17 from "../assets/Entrega2/particion home.png";
import paso18 from "../assets/Entrega2/elegir tamaño raiz.png";
import paso19 from "../assets/Entrega2/particion raiz.png";
import paso20 from "../assets/Entrega2/finalizar particionamiento.png";
import paso21 from "../assets/Entrega2/confirmar particionamiento.png";
import paso22 from "../assets/Entrega2/elegir programas.png";
import paso23 from "../assets/Entrega2/lugar instalar arranque.png";
import paso24 from "../assets/Entrega2/terminar instalacion.png";
import comprobacionInternet from "../assets/Entrega2/comprobacion de internet.png"
import comprobacionHerramientras from "../assets/Entrega2/comprobacion herramientas.png"
import comprobacionHerramientras2 from "../assets/Entrega2/comprobacion herramientas (2).png"
---

<div class="flex flex-col justify-center items-center gap-4 w-full h-full bg-dark pt-20">
    <div class="text-center mb-5">
        <h1 class="text-center font-bold text-3xl text-heading mb-5">Entrega 2</h1>
        <p class="text-heading text-xl">En esta entrega veremos como instalar la distribucion de linux debian en entorno consola</p>
        <p class="text-heading text-xl">Dato curioso: Debian es la distribución más usada… sin que la gente lo sepa</p>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-4">
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 1</h1>
            <img class="rounded-base" src={paso1.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Elegimos el idioma del teclado</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 2</h1>
            <img class="rounded-base" src={paso2.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Elegimos el idioma del sistema</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 3</h1>
            <img class="rounded-base" src={paso3.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Damos click en los tres puntos</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 4</h1>
            <img class="rounded-base" src={paso4.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Damos click en iniciar editor de almacenamiento</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 5</h1>
            <img class="rounded-base" src={paso5.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Iniciamos el editor de almacenamiento</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 6</h1>
            <img class="rounded-base" src={paso6.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Creamos una tabla de particiones</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 7</h1>
            <img class="rounded-base" src={paso7.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Creamos una tabla de particiones GPT</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 8</h1>
            <img class="rounded-base" src={paso8.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Creamos una particion</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 9</h1>
            <img class="rounded-base" src={paso9.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Creamos la particion /boot</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 10</h1>
            <img class="rounded-base" src={paso10.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Creamos la particiones /boot/efi</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 11</h1>
            <img class="rounded-base" src={paso11.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Damos click en montar la particion /boot/efi</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 12</h1>
            <img class="rounded-base" src={paso12.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Montamos la particion /boot/efi</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 13</h1>
            <img class="rounded-base" src={paso13.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Creamos la particion /swap</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 14</h1>
            <img class="rounded-base" src={paso14.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Creamos la particion raiz</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 15</h1>
            <img class="rounded-base" src={paso15.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Creamos la particion /home</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 16</h1>
            <img class="rounded-base" src={paso16.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Volvemos a la instalacion</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 17</h1>
            <img class="rounded-base" src={paso17.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Damos continuar para seguir con la instalacion</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 18</h1>
            <img class="rounded-base" src={paso18.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Usamos la tabla de particiones dando siguiente</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 19</h1>
            <img class="rounded-base" src={paso19.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Empezamos la instalacion de fedora</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Paso 20</h1>
            <img class="rounded-base" src={paso20.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Terminamos la instalacion reiniciando el sistema</h5>
        </div>
        <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
            <h1 class="text-center font-medium text-2xl text-heading">Fedora funcionando correctamente</h1>
            <img class="rounded-base" src={comprobacionInternet.src} alt=""/>
            <h5 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">Sistema fedora funcionando con 2 editores y 2 navegadores </h5>
        </div>
    </div>
</div>